/*--------------
INIZIO COMMON
----------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*-------------
FINE COMMON
---------------*/



/*------------
INIZIO HEADER 
 -------------*/
header {
    background-color: #ff6900;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    /* right: 0; */
    width: 100%;
    z-index: 2;
    box-shadow: 0 3px 2px -2px #1a1a1a;
}
.nav {
    color: white;
    display: flex;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* Header left*/
.gender {
    display: flex;
    gap: 10px;
    width: 20%;
}

/* Header left*/


/* Header center*/
.logo {
    width: 130px;
    flex-grow: 1;
}
/* Header center*/


/* Header right*/
.icon {
    display: flex;
    gap: 10px;
    width: 20%;
    justify-content: flex-end;
}

/* Header right*/

/*--------------
FINE HEADER 
---------------*/


/*---------------
INIZIO MAIN
---------------- */
main {
    display: flex;
    margin: 130px 0;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
}
.container-main {
    width: 1200px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    position: relative;
}
.megabox {
    width: calc(100%/ 3 - 14px);
    
}
/* immage */
.immbox {
    width: 100%;
    position: relative;
}
.imm {
    width: 100%;
    display: block;
}
.immhover {
    width: 100%;
    display: block;
    visibility: hidden;
    position: absolute;

}
.immbox:hover .immhover {
    visibility: visible;
}
.heart2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 10px;
    font-size: 20px;
}
.heart2:hover {
    cursor: pointer;
}
.heart2:hover:active {
    color: red;
}
    .tag {
    position: absolute;
    bottom: 30px;
    left: 0;
    color: white;
}
.sconto {
    padding: 5px 10px;
    background-color: red;
    margin-right: 5px;
}
.sostenibile {
    padding: 5px 10px;
    background-color: rgb(15, 110, 19);
}
/* immage */
/* description */
.brand {
    color: grey;
}

.price {
    color: red;   
}
.xprice {
    text-decoration: line-through;
}
/* description */

/*---------------- 
FINE MAIN 
----------------*/

/*--------------
INIZIO FOOTER
---------------- */
footer {
    border: solid white 2px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
}
.container-footer {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer-left {
    display: flex;
    gap: 20px;
}
h3 {
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 22px;
}

.footer-right {
    font-weight: bold;
}
.icon-foot {
    font-size: 20px;
    padding-top: 20px;
}
/*--------------
FINE FOOTER
---------------- */